<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title></title>
<script>
{{.Script}}
</script>
<style type='text/css'>
{{.Style}}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
</head>
<body onload='shImg()' onscroll='shImg()'>
	<div id='control'><div class='button'><button class='chPage' onclick='goto(false);'>prev</button><button class='chPage' onclick='goto(true);'>next</button></div>{{if .Dirs}}<button id='dirbutton' onclick='toggleDirs();'>Dirs</button></div>
	<div id='dirs'>{{range .Dirs}}<div><a href='{{.}}'>{{.}}</a></div>{{end}}{{end}}</div>
{{range .Items}}
{{if eq .Type `image`}}	<div class='box'><div class='hidden'><img style='width: 10px;' onclick='lbox(this)' onload='rsImg(this)' alt='{{.Url}}'></div><div class='name'><a href='{{.Url}}'>{{.Name}}</a></div></div>{{else}}<div class='box'><div class='link' style='height: 100%;'><table><td><a href='{{.Url}}'>{{.Name}}</a></td></table></div></div>{{end}}
{{end}}
</body>
